html {
  box-sizing: border-box;
}
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}
 
body {
  background-color: #c7ccdd;
  color: #333950;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 30px;
  font-size: 2.4rem;
  height: 100vh;
  /* width: 100vw */
  height: 100%;
  /* min-height: 100%; */
    /* min-width: 100%; */
}

#window {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  padding: 20px;
  top: 250px;
  left: 50%;
  margin-left: -150px;
  background-color: #A0B7F6;
  font-weight: bold;
  color: #333950;
  border-radius: 20px;
  border: 5px;
  border-style: solid;
  border-color: #b4c6f5 #5b688d #3F4962 #5b688d;
  box-shadow: 0px 10px 10px rgba(44, 41, 41, 0.699);
}

header {
  z-index: 5;
  position: fixed;
  display: flex;
  padding: 20px;
  left: 50%;
  margin-left: -400px;
  gap: 20px;
  justify-content: space-between;
  width: 800px;
  background-color: #A0B7F6;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  border: 5px;
  border-style: solid;
  border-color: #b4c6f5 #5b688d #3F4962 #5b688d;
}

#welcome {
  z-index: 4;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 400px;
  padding: 20px;
  top: 250px;
  left: 50%;
  margin-left: -300px;
  background-color: #A0B7F6;
  font-weight: bold;
  color: #333950;
  border-radius: 20px;
  border: 5px;
  border-style: solid;
  border-color: #b4c6f5 #5b688d #3F4962 #5b688d;
  box-shadow: 0px 10px 10px rgba(44, 41, 41, 0.699);
}

.radio {
  display: inline;
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 22px;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radioBtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #dfe3f5;
  border-radius: 50%;
  border-style: solid;
  border-color: #333950;
}

.radio:hover input ~ .radioBtn {
  background-color: #585e79;
}

.radio input:checked ~ .radioBtn {
  background-color: #dfe3f5;
}

.radioBtn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .radioBtn:after {
  display: block;
}

.radio .radioBtn:after {
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #333950;
}

p {
  margin: 7px;
}

p.note {
  font-size: 1.6rem;
}

input {
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: bold;
  width: 200px;
  outline:0;
  border: 5px;
  padding: 10px;
  color: #333950;
  background-color: #97aad4;
  text-align: center;
  font-size: 2.4rem;
  border-style: solid;
  border-color:   #475370 #5b688d #acbff0 #5b688d;
}

::placeholder {
  color: #7f828d;
}

h1 {
  margin: 0;
}

container {
  display: grid;
  place-items: center;
  
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 7px 10px;
  border-width: 5px;
  cursor: pointer;
  border-radius: 10px;
  color: #333950;
  background-color: #7F92C4;
  border-style: solid;
  border-color: #A0AED3 #5b688d #3F4962 #5b688d;
}

#grid {
  display: grid;
  margin-top: 150px;
  filter: drop-shadow(0px 0px 40px #212157) 
}

button:focus {
  outline:0;
}

button.cellBtn{
  border-width: 0px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-color: #333950;
  border-style: solid;
  color: #333950;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #ffffff00;
}

cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

cell.unclicked {
  background-image: url("../images/hexBevelS.png");
}

cell.clicked {
  background-image: url("../images/hexFlatS.png");
}

cell.flag {
  background-image: url("../images/hexFlagS.png");
}

cell.maybeFlag {
  background-image: url("../images/hexMaybeFlagS.png");
}