html {
  box-sizing: border-box;
}
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}
 
body {
  background: radial-gradient(#afb2c0, #8991ad);
  background-color: #c7ccdd;
  color: #333950;
  font-family: 'Nunito', sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 30px;
  font-size: 2.4rem;
  height: 100vh;
  --color: #333950;
  --red: #8d2c2c;
  --window-back: linear-gradient(180deg, #808eb1, #aabbe7);
  --window-back-alt: linear-gradient(180deg, #8492b6, #aabbe7);
  --window-border: #aebee9 #5b688d #3F4962 #5b688d;
  --window-shadow: 0px 5px 30px rgba(47, 47, 53, 0.5);
  --hr-scroll-color: #606886;
  --help-exit-bg: #909fc5;
  --help-exit-border: #5b688d;
  --radio-bg: #dfe3f5;
  --radio-border: #333950;
  --radio-hover: #a3a7b9;
  --radio-selected: #333950;
  --input-bg: linear-gradient(180deg, #939ebb, #c4cadf);
  --input-border: #475370 #5b688d #acbff0 #5b688d;
  --input-placeholder: #7f828d;
  --button-bg: linear-gradient(180deg, #6c7daa, #889dd3);
  --button-border: #9fadd3 #5b688d #3F4962 #5b688d;
  --button-hover-color: #14161d;
  --button-hover-bg: linear-gradient(180deg, #58668d, #93a9e2);
  --grid-glow: drop-shadow(0px 0px 50px #213457);
  --cell-hexFlag: url("../images/hexFlag.png");
  --cell-hexMaybeFlag: url("../images/hexMaybeFlag.png");
  --cell-hexBevel: url("../images/hexBevel.png");
  --cell-hexFlat: url("../images/hexFlat.png");
  --cell-hexMine: url("../images/hexMine.png");
  --cell-hexFlagNotMine: url("../images/hexFlagNotMine.png");
  --cell-hexMineFlag: url("../images/hexMineFlag.png");
  --cell-hexMineExploded: url("../images/hexMineExploded.png");
}

body.dark {
  background: radial-gradient(#545969, #0d0e16);
  color: #96a3d8;
  --color: #96a3d8;
  --red: #db5f5f;
  --window-back: linear-gradient(180deg, #2E3D63, #4a6097);
  --window-back-alt: linear-gradient(180deg, #2E3D63, #4a6097);
  --window-border: #6967b4 #3e3161 #211e33 #3e3161;
  --window-shadow: 0px 0px 50px #9c77a5;
  --hr-scroll-color: #867bac;
  --help-exit-bg: #2E3D63;
  --help-exit-border: #6967b4 #3e3161 #3e3161 #6967b4;
  --radio-bg: #5b72ad00;
  --radio-border: #96a3d8;
  --radio-hover: #8e94af;
  --radio-selected: #96a3d8;
  --input-bg: linear-gradient(0deg, #666c80, #2e314b);
  --input-border: #211e33 #3e3161 #6967b4 #3e3161;
  --input-placeholder: #959bbe9f;
  --button-bg: linear-gradient(180deg, #2d3c61, #4f6499);
  --button-border: #6967b4 #3e3161 #211e33 #3e3161;
  --button-hover-color: #abb7e7;
  --button-hover-bg: linear-gradient(180deg, #151c30, #5d73aa);
  --grid-glow: drop-shadow(0px 0px 50px #9c77a5);
  --cell-hexFlag: url("../images/hexFlagD.png");
  --cell-hexMaybeFlag: url("../images/hexMaybeFlagD.png");
  --cell-hexBevel: url("../images/hexBevelD.png");
  --cell-hexFlat: url("../images/hexFlatD.png");
  --cell-hexMine: url("../images/hexMineD.png");
  --cell-hexFlagNotMine: url("../images/hexFlagNotMineD.png");
  --cell-hexMineFlag: url("../images/hexMineFlagD.png");
  --cell-hexMineExploded: url("../images/hexMineExplodedD.png");
}

#dark-light {
  z-index: 5;
  position: fixed;
  top: 30px;
  left: 30px;
  box-shadow: var(--window-shadow);
}

.window{
  z-index: 5;
  display: flex;
  padding: 20px;
  background: var(--window-back);
  font-weight: bold;
  border-radius: 20px;
  border: 5px;
  border-style: solid;
  border-color: var(--window-border);
  box-shadow: var(--window-shadow);
  transition: top .75s ease;
}

#welcome {
  flex-direction: row;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  top: 250px;
  left: 50%;
  margin-left: -200px;
  background: var(--window-back-alt);
  border-color: var(--window-border)
}

#win-win {
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  top: -300px;
  left: 50%;
  margin-left: -150px;
  top: -400px;
}

header {
  position: fixed;
  align-items: center;
  left: 50%;
  margin-left: -400px;
  gap: 20px;
  justify-content: space-between;
  width: 800px;
}

#helping {
  font-size: 2.2rem;
  gap: 10px;
  position: absolute;
  top: -900px;
  width: 800px;
  height: 600px;
  left: 50%;
  background: var(--window-back-alt);
  margin-left: -400px;
}

#helping button {
  position: absolute;
  background: var(--help-exit-bg);
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 25px;
  border-color: var(--help-exit-border);
  right: -25px;
  top: -25px;
}

#how-to-play{
  display: grid;
  overflow-y: scroll;
  padding-right: 30px;
  text-align: left;
}

#help-button {
  position: fixed;
  top: 30px;
  right: 30px;
  box-shadow: var(--window-shadow);
}

.help-center h2 {
  margin: 0;
}

.help-center {
  text-align: center;
}

#how-to-play hr{
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: var(--hr-scroll-color);
  width: 500px;
}

#how-to-play img {
  margin-left: 5px;
  margin-right: 20px;
  float: left;
}

#how-to-play img.righty {
  margin-left: 20px;
  margin-right: 5px;
  float: right;
}

#how-to-play::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #f5f5f500;
}

#how-to-play::-webkit-scrollbar
{
    width: 12px;
    background-color: #f5f5f500;
}

#how-to-play::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--hr-scroll-color);
}


.radio {
  display: inline;
  position: relative;
  padding-left: 35px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 22px;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radioBtn {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--radio-bg);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--radio-border);
}

.radio:hover input ~ .radioBtn {
  background-color: var(--radio-hover);
}

.radio input:checked ~ .radioBtn {
  background-color: var(--radio-bg);
}

.radioBtn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .radioBtn:after {
  display: block;
}

.radio .radioBtn:after {
  top: 3px;
  left: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--radio-selected);
}

p {
  margin: 7px;
}

p.note {
  font-size: 1.6rem;
}

input {
  border-radius: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  width: 200px;
  outline:0;
  border: 5px;
  padding: 10px;
  color: var(--color);
  background: var(--input-bg);
  text-align: center;
  font-size: 2.4rem;
  border-style: solid;
  border-color: var(--input-border);
}

input::placeholder {
  color: var(--input-placeholder);
}

h1 {
  font-size: 5rem;
  margin: 0;
}

container {
  display: grid;
  place-items: center;
  
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: 'Nunito', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 7px 10px;
  border-width: 5px;
  cursor: pointer;
  border-radius: 10px;
  color: var(--color);
  background: var(--button-bg);
  border-style: solid;
  border-color: var(--button-border);
}

button:hover {
  color: var(--button-hover-color);
  background: var(--button-hover-bg);
}

#grid {
  display: grid;
  margin-top: 150px;
  filter: var(--grid-glow);
}

button:focus {
  outline:0;
}

button.cellBtn{
  border-width: 0px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-style: solid;
  color: var(--color);
  font-size: 2.4rem;
  font-weight: bold;
  background: #ffffff00;
}

cell {
  display: flex;
  justify-content: center;
  align-items: center;
}


cell.flag {
  background-image: var(--cell-hexFlag);
}

cell.maybeFlag {
  background-image: var(--cell-hexMaybeFlag);
}

cell.bevel {
  background-image: var(--cell-hexBevel);
}

cell.flat {
  background-image: var(--cell-hexFlat);
}

cell.mine {
  background-image: var(--cell-hexMine);
}

cell.flagNotMine {
  background-image: var(--cell-hexFlagNotMine);
}

cell.mineFlag {
  background-image: var(--cell-hexFlag);
}

cell.mineExploded {
  background-image: var(--cell-hexMineExploded);
}

.red {
  color: var(--red)
}

@media only screen and (max-width: 1300px) {
  #help-button {
    top: 170px;
  }
  #dark-light {
    top: 170px;
  }
}