html {
  box-sizing: border-box
}
 
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%
}
 
body {
  background-color: #c7ccdd;
  color: #333950;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 2.4rem;
  height: 100vh;
}

header {
  display: flex;
  height: 50px;
  width: 450px;
  justify-content: space-between;
  font-weight: bold;
}

container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 7px 10px;
  border-width: 6px;
  border-radius: 10px;
  color: #333950;
  background-color: #7F92C4;
  border-style: solid;
  border-color: #A0AED3 #5b688d #3F4962 #5b688d;
}

#grid {
  display: grid;
  grid-template-columns: 43px 15px 28px 15px 28px 15px 28px 15px 28px 15px 28px 15px 28px 15px 28px 15px 28px 15px 28px 15px 43px;
  grid-template-rows: repeat(20, auto);
}

button:focus {
  outline:0;
}

button.cellBtn{
  border-width: 0px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border-color: #333950;
  border-style: solid;
  color: #333950;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: #ffffff00;
}

cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

cell.unclicked {
  background-image: url("../images/hexBevelS.png");
}

cell.clicked {
  background-image: url("../images/hexFlatS.png");
}

cell.flag {
  background-image: url("../images/hexFlagS.png");
}

cell.maybeFlag {
  background-image: url("../images/hexMaybeFlagS.png");
}

/* Cell X Coords */
cell.x01 {
  grid-column: 1/3;
}

cell.x02 {
  grid-column: 2/5;
}

cell.x03 {
  grid-column: 4/7;
}

cell.x04 {
  grid-column: 6/9;
}

cell.x05 {
  grid-column: 8/11;
}

cell.x06 {
  grid-column: 10/13;
}

cell.x07 {
  grid-column: 12/15;
}

cell.x08 {
  grid-column: 14/17;
}

cell.x09 {
  grid-column: 16/19;
}

cell.x10 {
  grid-column: 18/21;
}

cell.x11 {
  grid-column: 20/22;
}


/* Cell Y Coords */
cell.y01 {
  grid-row: 1/3;
}

cell.y02 {
  grid-row: 2/4;
}

cell.y03 {
  grid-row: 3/5;
}

cell.y04 {
  grid-row: 4/6;
}

cell.y05 {
  grid-row: 5/7;
}

cell.y06 {
  grid-row: 6/8;
}

cell.y07 {
  grid-row: 7/9;
}

cell.y08 {
  grid-row: 8/10;
}

cell.y09 {
  grid-row: 9/11;
}

cell.y10 {
  grid-row: 10/12;
}

cell.y11 {
  grid-row: 11/13;
}

cell.y12 {
  grid-row: 12/14;
}

cell.y13 {
  grid-row: 13/15;
}

cell.y14 {
  grid-row: 14/16;
}

cell.y15 {
  grid-row: 15/17;
}

cell.y16 {
  grid-row: 16/18;
}

cell.y17 {
  grid-row: 17/19;
}

cell.y18 {
  grid-row: 18/20;
}

cell.y19 {
  grid-row: 19/21;
}

cell.y20 {
  grid-row: 20/22;
}

cell.y21 {
  grid-row: 21/23;
}